
.Sheet{
    
    background-color: white;
    width: 21cm;
    height: 29.7cm;
    font-size: 14px;
    position: relative;
}

.Sheet2{
    background-color: white;
    width: 21cm;
    height: 59.4cm;
    margin: 0 auto;
    left: 0;
    top: 0;
    position: absolute;
}

.background{
    height: 59.4cm;
}

.Copia{
    position: absolute;
    background-color: white;
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    top: 29.7cm;
    left: 0;
}

.Encabezado{
    position: absolute;
    left: 15mm;
    top: 15mm;
    width: 180mm;
    height: 95mm;
    display: flex;
    flex-direction: column;
    gap: 1mm;
}

.Emisor{
    height: 45mm;
    width: 100%;
    position: relative;
}

.Receptor{
    height: 23mm;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25mm;
    gap: 1.5mm;
}

.Info{
    height: 15mm;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.Fecha{
    position: absolute;
    top: 23mm;
    left: 135mm;
}

.Razon{
    height: 5mm;
}

.Localidad{
    height: 5mm;
}


.TelDom{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5mm;
    position: relative;
}

.Telefono{
    position: absolute;
    right: 20mm;
    left: 115mm;
}

.Info-1{
    padding-left: 25mm;
    display: flex;
    width: 100%;
    position: relative;
}

.CUIT{
    position: absolute;
    left: 118mm;
    overflow: hidden;
}

.Info-2{
    display: flex;
    position: relative;
    padding-left: 43mm;
}

.OC{
    position: absolute;
    left: 118mm;
}

.Materiales{
    position: absolute;
    top: 115mm;
    left: 15mm;
    width: 180mm;
    border-collapse: collapse;
}

.Item{
    font-size: 12.5px;
    max-width: 180mm;
    height: 20px;
}

.vacio{
    width: 100px;
    height: 20px;
}
.Cantidad{
    width: 20mm;
    height: 20px;
    text-align: center;
    overflow: hidden;
}

.DescCode{
    padding-left: 5mm;
    overflow: hidden;
    word-break: break-all;
    height: 20px;
}

.CONT{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
